#
#	/pkg map for automounter
#

##
## NOTE!!!
##
## Linux entries CANNOT BE PRECEDED BY MORE THAN ONE TAB and
## NO TAB OR SPACE before continuation \'s
##
##




ossrc		sac-corp-ops-adm-01.unix.newokl.com:/usr/pkg/&
src		sac-corp-ops-adm-01.unix.newokl.com:/data/&
# *		localhost:/opt/&
