{% set homemount = salt['pillar.get']('okl:homemount') %}
{% set homemountpath = salt['pillar.get']('okl:homemountpath') %}
okladmin			localhost:/usr/lhome/&
oklrelease			localhost:/usr/lhome/&
okluser				localhost:/usr/lhome/&
oklmonitor			localhost:/usr/lhome/&
okldev				localhost:/usr/lhome/&
oneadmin			localhost:/usr/lhome/&
vertica				localhost:/usr/lhome/&
dbadmin				localhost:/usr/lhome/&
stibosw				localhost:/usr/lhome/&
# Home directory map for automounter
#
oracle	localhost:/usr/lhome/&
mule	localhost:/usr/lhome/&
jboss	localhost:/usr/lhome/&
tomcat	localhost:/usr/lhome/&
rstudio	localhost:/usr/lhome/&
*	{{ homemount }}:{{ homemountpath }}&
