{% from "authconfig/map.jinja" import authconfig with context %}
base			{{ authconfig.ldap.base }}
bind_policy		soft
nss_initgroups_ignoreusers	root,nroot,ldap,named,apache,dbus,haldaemon,nscd,nslcd,nagios,nrpe,smmsp
nss_reconnect_tries	3
binddn			{{ authconfig.ldap.binddn }}
bindpw			{{ authconfig.ldap.bindpw }}
rootbinddn		{{ authconfig.ldap.rootbinddn }}
bind_timelimit		5
idle_timelimit		120

tls_cacertdir		/etc/ssl/certs
tls_cacertfile		/etc/ssl/certs/ca-bundle.crt
ssl			start_tls
tls_checkpeer		no



uri			{%- for server in authconfig.ldap.servers -%}{{ server }} {%- endfor -%}
nss_base_passwd		ou=People,{{ authconfig.ldap.base }}?one
nss_base_shadow		ou=People,{{ authconfig.ldap.base }}?one
nss_base_group		ou=Group,{{ authconfig.ldap.base }}?one
nss_base_netgroup	ou=Netgroup,{{ authconfig.ldap.base }}?one
nss_base_hosts		ou=Hosts,{{ authconfig.ldap.base }}?one
nss_base_services	ou=Services,{{ authconfig.ldap.base }}?one
nss_base_networks	ou=Networks,{{ authconfig.ldap.base }}?one
nss_base_protocols	ou=Protocols,{{ authconfig.ldap.base }}?one
nss_base_rpc		ou=Rpc,{{ authconfig.ldap.base }}?one
nss_base_ethers		ou=Ethers,{{ authconfig.ldap.base }}?one
nss_base_netmasks	ou=Networks,{{ authconfig.ldap.base }}?one
nss_base_bootparams	ou=Ethers,{{ authconfig.ldap.base }}?one
nss_base_aliases	ou=Aliases,{{ authconfig.ldap.base }}?one
nss_base_automount	nismapname=auto_home,{{ authconfig.ldap.base }}?one
pam_password		crypt
