{% macro sls_block(dict) %}
    {% for key, value in dict.items() %}
    - {{ key }}: {{ value|json() }}
    {% endfor %}
{% endmacro %}

{% set authconfig = salt['pillar.get']('authconfig', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'authconfig',
            'service': 'authconfig',
            'webuser': 'www-data',
        },
        'RedHat': {
            'service': 'authconfig',
            'webuser': 'authconfig',
            'rh_os_releasever': '$releasever',
        },
        'Suse': {
            'package': 'authconfig',
            'service': 'authconfig',
            'webuser': 'authconfig',
        },
        'Arch': {
            'package': 'authconfig',
            'service': 'authconfig',
            'webuser': 'http',
        },
        'Gentoo': {
            'package': 'www-servers/authconfig',
            'service': 'authconfig',
            'webuser': 'authconfig',
        },
    }, default='RedHat' ),
    'sssd': {
        'enable': True,
    },
    'nslcd': {
        'enable': False,
    },
    'package': {
        'opts': {},
    },
    'ldap': {
        'opts': {},
        'base': 'dc=test,dc=com',
        'search_base': 'dc=test,dc=com',
        'binddn': 'cn=example,ou=profile,dc=test,dc=com',
        'bindpw': 'secret word',
        'secret': 'for /etc/ldap.secret',
        'servers': ('ldap://server01/','ldap://server01'),
        'rootbinddn': 'cn=administrator,dc=test,dc=com',
    },
}, merge=True) %}

