{% macro sls_block(dict) %}
    {% for key, value in dict.items() %}
    - {{ key }}: {{ value|json() }}
    {% endfor %}
{% endmacro %}

{% set authconfig = salt['pillar.get']('authconfig:lookup', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'authconfig',
            'service': 'authconfig',
            'webuser': 'www-data',
            'sssd': {
                enable: True,
            },
        },
        'RedHat': {
            'sssd_package': 'sssd',
            'service': 'authconfig',
            'webuser': 'authconfig',
            'rh_os_releasever': '$releasever',
            'sssd': {
                enable: True,
            },
        },
        'Suse': {
            'package': 'authconfig',
            'service': 'authconfig',
            'webuser': 'authconfig',
        },
        'Arch': {
            'package': 'authconfig',
            'service': 'authconfig',
            'webuser': 'http',
        },
        'Gentoo': {
            'package': 'www-servers/authconfig',
            'service': 'authconfig',
            'webuser': 'authconfig',
        },
    }, default='RedHat' ),
    'package': {
        'opts': {},
    },
    'service': {
        'enable': True,
        'opts': {},
    },
}, merge=True) %}

